html.theme-dark .group-wWM3zP_M {
  background: #0A172B !important;
  border-bottom: 1px solid #203B60;
}

html.theme-dark .drawingToolbar-U3_QXRof {
  border-right: 1px solid #203b60!important;
  /* border-left: 1px solid #203b60!important; */
}

html.theme-dark .layout__area--top {
  border-bottom: 1px solid #203b60!important;
}
html.theme-dark td.chart-markup-table {
  /* border-top: 1px solid #203b60!important; */
}

html.theme-dark .button-263WXsg- {
  color: #93A1B8!important;
}

html.theme-dark .button-263WXsg-:hover,html.theme-dark .button-2ioYhFEY:hover,html.theme-dark .button-13wlLwhJ:hover {
  color: #203B60!important;
  cursor: pointer;
}

html.theme-dark .button-263WXsg-:hover .bg-1kRv1Pf2,
html.theme-dark .input-3lfOzLDc,
html.theme-dark .button-13wlLwhJ:hover::before,
html.theme-dark .button-2ioYhFEY.isInteractive-20uLObIc:hover::before,
html.theme-dark .button-13wlLwhJ.isOpened-1939ai3F::before {
  background-color: #0A172B!important;
  cursor: pointer;

}
html.theme-dark .input-3lfOzLDc,html.theme-dark .button-13wlLwhJ,html.theme-dark .button-13wlLwhJ,html.theme-dark .button-2ioYhFEY{
  color:#93A1B8!important ;
}
/* html.theme-dark .loading-indicator {
  display: block!important;
}
.chart-loading-screen {
  display: block!important;;
}
.tv-spinner.tv-spinner--size_large ,.tv-spinner__spinner-layer{
  display: block!important;;
} */
/* .tv-spinner{
  color: #E0ECFF!important;
} 
.loading-indicator {
  display: block!important;
} */
/* .tv-spinner__background{
  display: none;
} */